<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>DZ</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>17</string>
			<key>medical</key>
			<string>14</string>
			<key>fire</key>
			<string>14</string>
		</dict>
	</dict>
	<key>TD</key>
	<dict>
		<key>numbers</key>
		<dict>
            <key>police</key>
            <string>17</string>
            <key>fire</key>
            <string>18</string>
		</dict>
	</dict>
	<key>DJ</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>17</string>
			<key>fire</key>
			<string>18</string>
		</dict>
	</dict>
	<key>EG</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>122</string>
			<key>medical</key>
			<string>123</string>
			<key>fire</key>
			<string>180</string>
			<key>police_traffic</key>
			<string>128</string>
			<key>police_tourist</key>
			<string>126</string>
		</dict>
	</dict>
	<key>GH</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>191</string>
			<key>medical</key>
			<string>193</string>
			<key>fire</key>
			<string>192</string>
		</dict>
	</dict>
	<key>ML</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>17</string>
			<key>medical</key>
			<string>15</string>
			<key>fire</key>
			<string>18</string>
		</dict>
	</dict>
	<key>MU</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>999</string>
			<key>medical</key>
			<string>114</string>
			<key>fire</key>
			<string>115</string>
		</dict>
	</dict>
	<key>MA</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>19</string>
			<key>medical</key>
			<string>15</string>
			<key>fire</key>
			<string>15</string>
		</dict>
	</dict>
	<key>NG</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>199</string>
		</dict>
	</dict>
	<key>ZA</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>general</key>
			<string>10177</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>TN</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>197</string>
			<key>medical</key>
			<string>190</string>
			<key>fire</key>
			<string>198</string>
		</dict>
	</dict>
	<key>RW</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>UG</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
	</dict>
	<key>SD</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
	</dict>
	<key>SL</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>019</string>
			<key>medical</key>
			<string>999</string>
		</dict>
	</dict>
	<key>ZM</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>police</key>
			<string>999</string>
			<key>medical</key>
			<string>991</string>
			<key>fire</key>
			<string>993</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>ZW</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
</dict>
</plist>
