<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AF</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>119</string>
			<key>medical</key>
			<string>102</string>
			<key>fire</key>
			<string>119</string>
		</dict>
	</dict>
	<key>BD</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
		<key>note</key>
		<string>YES</string>
	</dict>
	<key>BH</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
	</dict>
	<key>CN</key>
	<dict>
		<key>note</key>
		<string>YES</string>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>110</string>
			<key>medical</key>
			<string>120</string>
			<key>fire</key>
			<string>119</string>
			<key>police_traffic</key>
			<string>122</string>
		</dict>
	</dict>
	<key>MM</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>191</string>
		</dict>
	</dict>
	<key>HK</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>IN</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>general</key>
			<string>2611</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>ID</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>police</key>
			<string>110</string>
			<key>medical</key>
			<string>118/119</string>
			<key>fire</key>
			<string>113</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>IR</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>general</key>
			<string>110</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>IL</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>police</key>
			<string>100</string>
			<key>medical</key>
			<string>101</string>
			<key>fire</key>
			<string>102</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>JP</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>110</string>
			<key>medical</key>
			<string>119</string>
			<key>fire</key>
			<string>119</string>
		</dict>
	</dict>
	<key>JO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>KZ</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>police</key>
			<string>102</string>
			<key>medical</key>
			<string>103</string>
			<key>fire</key>
			<string>101</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>KP</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>119</string>
		</dict>
	</dict>
	<key>KR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>112</string>
			<key>medical</key>
			<string>119</string>
			<key>fire</key>
			<string>119</string>
		</dict>
	</dict>
	<key>KW</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>LB</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>112</string>
			<key>medical</key>
			<string>140</string>
			<key>fire</key>
			<string>175</string>
		</dict>
	</dict>
	<key>MO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
	</dict>
	<key>MV</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>102</string>
		</dict>
	</dict>
	<key>MY</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>MN</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>102</string>
			<key>medical</key>
			<string>103</string>
			<key>fire</key>
			<string>101</string>
		</dict>
	</dict>
	<key>NP</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>police</key>
			<string>103</string>
			<key>medical</key>
			<string>102</string>
			<key>fire</key>
			<string>101</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>OM</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
	</dict>
	<key>PK</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>general</key>
			<string>15</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>PH</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>general</key>
			<string>117</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>QA</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>999</string>
		</dict>
	</dict>
	<key>SA</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>999</string>
			<key>medical</key>
			<string>997</string>
			<key>fire</key>
			<string>998</string>
		</dict>
	</dict>
	<key>SG</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>police</key>
			<string>999</string>
			<key>medical</key>
			<string>995</string>
			<key>fire</key>
			<string>995</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>LK</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>119</string>
			<key>medical</key>
			<string>110</string>
			<key>fire</key>
			<string>11</string>
		</dict>
	</dict>
	<key>SY</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>112</string>
			<key>medical</key>
			<string>110</string>
			<key>fire</key>
			<string>113</string>
		</dict>
	</dict>
	<key>TW</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>police</key>
			<string>110</string>
			<key>medical</key>
			<string>119</string>
			<key>fire</key>
			<string>119</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>TJ</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>TH</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>191</string>
			<key>medical</key>
			<string>1669</string>
			<key>fire</key>
			<string>199</string>
			<key>police_tourist</key>
			<string>1155</string>
		</dict>
	</dict>
	<key>TR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>155</string>
			<key>medical</key>
			<string>112</string>
			<key>fire</key>
			<string>110</string>
		</dict>
	</dict>
	<key>AE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>999</string>
			<key>medical</key>
			<string>999</string>
			<key>fire</key>
			<string>997</string>
		</dict>
	</dict>
	<key>VN</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>113</string>
			<key>medical</key>
			<string>115</string>
			<key>fire</key>
			<string>114</string>
		</dict>
	</dict>
</dict>
</plist>
