<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GT</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>110</string>
			<key>medical</key>
			<string>120</string>
			<key>fire</key>
			<string>123</string>
		</dict>
	</dict>
	<key>SV</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>911</string>
		</dict>
	</dict>
	<key>CR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>911</string>
		</dict>
	</dict>
	<key>PA</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>911</string>
		</dict>
	</dict>
	<key>BB</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>211</string>
			<key>medical</key>
			<string>511</string>
			<key>fire</key>
			<string>311</string>
		</dict>
	</dict>
	<key>KY</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>911</string>
		</dict>
	</dict>
	<key>DO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>911</string>
		</dict>
	</dict>
	<key>JM</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>119</string>
			<key>medical</key>
			<string>110</string>
			<key>fire</key>
			<string>110</string>
		</dict>
	</dict>
	<key>TT</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>999</string>
			<key>medical</key>
			<string>990</string>
			<key>fire</key>
			<string>990</string>
		</dict>
	</dict>
	<key>NI</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>118</string>
		</dict>
	</dict>
	<key>HN</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>199</string>
		</dict>
	</dict>
	<key>HT</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>118</string>
		</dict>
	</dict>
</dict>
</plist>
