<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AL</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>112</string>
			<key>medical</key>
			<string>127</string>
			<key>fire</key>
			<string>128</string>
			<key>traffic police</key>
			<string>126</string>
		</dict>
	</dict>
	<key>AM</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>102</string>
			<key>medical</key>
			<string>103</string>
			<key>fire</key>
			<string>101</string>
			<key>police_traffic</key>
			<string>177</string>
		</dict>
	</dict>
	<key>AT</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>122</string>
		</dict>
	</dict>
	<key>BY</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>102</string>
			<key>medical</key>
			<string>103</string>
			<key>fire</key>
			<string>101</string>
		</dict>
	</dict>
	<key>BE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>BA</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>122</string>
			<key>medical</key>
			<string>124</string>
			<key>fire</key>
			<string>123</string>
		</dict>
	</dict>
	<key>BG</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>HR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>CY</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>CZ</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>DK</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>EE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>FO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>FI</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>FR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>GE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>122</string>
			<key>medical</key>
			<string>113</string>
			<key>fire</key>
			<string>111</string>
		</dict>
	</dict>
	<key>DE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>GI</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>GR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>HU</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>IS</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>IE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>IT</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>LV</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>LT</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>LU</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>MK</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>MT</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>MD</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>MC</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>ME</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>NL</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>NO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>fire</key>
			<string>110</string>
			<key>medical</key>
			<string>113</string>
			<key>police</key>
			<string>112</string>
		</dict>
	</dict>
	<key>PL</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>PT</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>RO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>RU</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>SM</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>fire</key>
			<string>113</string>
			<key>medical</key>
			<string>118</string>
			<key>police</key>
			<string>115</string>
		</dict>
	</dict>
	<key>RS</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>SK</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>SI</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>ES</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>SE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>CH</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>TR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>fire</key>
			<string>155</string>
			<key>medical</key>
			<string>112</string>
			<key>police</key>
			<string>110</string>
		</dict>
	</dict>
	<key>UA</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>GB</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
	<key>VA</key>
	<dict>
		<key>landline</key>
		<dict>
			<key>fire</key>
			<string>113</string>
			<key>medical</key>
			<string>118</string>
			<key>police</key>
			<string>115</string>
		</dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
</dict>
</plist>
