<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NO</key>
        <dict>
            <key>fire</key>
            <string>110</string>
            <key>ambulance</key>
            <string>113</string>
            <key>police</key>
            <string>112</string>
        </dict>
        
        <key>BE</key>
        <dict>
            <key>rescue</key>
            <string>100</string>
            <key>police</key>
            <string>101</string>
        </dict>
        
        <key>BG</key>
        <dict>
            <key>rescue</key>
            <string>150</string>
            <key>police</key>
            <string>160</string>
        </dict>
        
        <key>GT</key>
        <dict>
            <key>fire</key>
            <string>123</string>
            <key>ambulance</key>
            <string>120</string>
            <key>police</key>
            <string>110</string>
        </dict>
        
        <key>MX</key>
        <dict>
            <key>fire</key>
            <string>066</string>
            <key>ambulance</key>
            <string>065</string>
            <key>police</key>
            <string>068</string>
        </dict>
        
        <key>DK</key>
        <string>112</string>
        
        <key>FI</key>
        <string>112</string>
        
        <key>GB</key>
        <string>112</string>
        
        <key>IE</key>
        <string>112</string>
        
        <key>NL</key>
        <string>112</string>
        
        <key>PT</key>
        <string>112</string>
        
        <key>SE</key>
        <string>112</string>
        
        <key>US</key>
        <string>911</string>
        
        <key>CA</key>
        <string>911</string>
        
        
    </dict>
</plist>
