<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>101</string>
			<key>medical</key>
			<string>107</string>
			<key>fire</key>
			<string>100</string>
		</dict>
	</dict>
    <key>BO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>110</string>
			<key>medical</key>
			<string>118</string>
			<key>fire</key>
			<string>119</string>
		</dict>
	</dict>
    <key>BR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>190</string>
			<key>medical</key>
			<string>192</string>
			<key>fire</key>
			<string>193</string>
		</dict>
	</dict>
    <key>CL</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>133</string>
			<key>medical</key>
			<string>131</string>
			<key>fire</key>
			<string>132</string>
		</dict>
	</dict>
    <key>CO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>
    <key>EC</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>911</string>
		</dict>
	</dict>
    <key>GF</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>17</string>
			<key>medical</key>
			<string>15</string>
			<key>fire</key>
			<string>18</string>
		</dict>
	</dict>
    <key>GY</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>911</string>
			<key>medical</key>
			<string>913</string>
			<key>fire</key>
			<string>912</string>
		</dict>
	</dict>
    <key>PY</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>911</string>
		</dict>
	</dict>
    <key>PE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>police</key>
			<string>105</string>
			<key>medical</key>
			<string>117</string>
			<key>fire</key>
			<string>116</string>
		</dict>
	</dict>
    <key>CO</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>112</string>
		</dict>
	</dict>    
    <key>SR</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>115</string>
		</dict>
	</dict>
    <key>UY</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>911</string>
		</dict>
	</dict>
    <key>VE</key>
	<dict>
		<key>numbers</key>
		<dict>
			<key>general</key>
			<string>171</string>
		</dict>
	</dict>
</dict>
</plist>
